body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: repeating-linear-gradient(33deg,#1649f8 10%, #323539 11%);
}
/* wrapper for styling the box where the time is display */
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    border-radius: 10px;
    height: fit-content;
}
img{
    height: 200px;
}
.container h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: white;
}
.content{
    top: -20px;
    display: flex;
    justify-content: center;
    position: relative;
}
/* here we can disable the time set option because we don't want to change the alarm once we can set */
.content.disable{
    opacity: 0.7;
    pointer-events: none;
}
.content2.disable{
    opacity: 0.7;
    pointer-events: none;
}
.content3.disable{
    opacity: 0.7;
    pointer-events: none;
}
.column {
    display: inline-block;   
    margin: 0px 4px 0px 6px;
}
.column select{
    height: 2rem;
    width: 100%;
    font-size: 22px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}

button{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 10px;
    border-radius: 8px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 2rem;
}
/* styling for second container here we can change the font and button where its looks the secondary  */
.content2{
    display:flex;
}
.container2{
    display: flex;
    margin-top: 10px;
}

.container2 select{
    height: 2rem;
    width: 100%;
    font-size: 15px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}
.container2 button{
    display: flex;
    justify-content: center;
    width: 30%;
    position: relative;
    bottom: 0px;
    border-radius: 8px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
}
/* styling for third container here we can change the font and button where its looks the secondary */
.content3{
    display:flex;
}
.container3{
    display: flex;
    margin-top: 10px;
}

.container3 select{
    height: 2rem;
    width: 100%;
    font-size: 15px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
}
.container3 button{
    display: flex;
    justify-content: center;
    width: 30%;
    position: relative;
    bottom: 0px;
    border-radius: 8px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 1rem;
}